<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New chat</title>
</head>
<body>
    <h3>Add New Chat</h3>
    <form method="post" action="/chats">
        <input name="form" placeholder="who are you" type="text">
        <br>
        <textarea name="msg" id="">write mess here</textarea>
        <br>
        <input type="text" name="to" placeholder="Name of recevier" id="">
        <br>
        <button>create</button>
    </form>
</body>
</html>